* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

nav {
  align-content: center;
  width: 100%;
  background-color: #ffe600;
  display: flex;
}
nav .contenedor-input {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .contenedor-input .meli-logo {
  margin-top: 5px;
}
nav .contenedor-input input:focus {
  outline: none;
}
nav .contenedor-input input {
  margin-left: 30px;
  margin-right: 0;
  height: 36px;
  width: 900px;
  font-size: 18px;
  border-style: hidden;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  padding-left: 18px;
}
nav .contenedor-input .boton-busqueda {
  height: 36px;
  width: 36px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-style: hidden;
  cursor: pointer;
}

.product-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 2px;
  position: relative;
  background-color: white;
  border-radius: 4px;
}
.product-card .producto-logo {
  margin: 16px 16px 16px 16px;
  height: 180px;
  width: 180px;
  border-radius: 4px;
}
.product-card .contenedor-info {
  margin-top: 32px;
  display: inline-block;
}
.product-card .contenedor-info .producto-titulo {
  color: #333333;
  font-size: 18px;
}
.product-card .contenedor-info .ubicacion {
  color: #333333;
  font-size: 12px;
}
.product-card .contenedor-info .precio {
  display: inline-block;
  color: #333333;
  font-size: 24px;
  margin-bottom: 32px;
}
.product-card .contenedor-info .shipping-logo {
  margin-left: 16px;
  display: inline-block;
}

.contenedor-principal {
  display: grid;
  grid-template-columns: 680px 320px;
  background-color: white;
  border-radius: 4px;
}
.contenedor-principal .foto-producto {
  margin-top: 16px;
  border-radius: 4px;
  height: 680px;
  width: 680px;
}
.contenedor-principal .detalle-producto {
  margin-left: 16px;
}
.contenedor-principal .detalle-producto .condicion {
  color: #333333;
  margin-top: 32px;
  font-size: 14px;
}
.contenedor-principal .detalle-producto .titulo-producto {
  color: #333333;
  margin-right: 32px;
  margin-top: 16px;
  margin-bottom: 32px;
  font-size: 24px;
}
.contenedor-principal .detalle-producto .precio {
  color: #333333;
  margin-bottom: 32px;
  font-size: 46px;
}
.contenedor-principal .detalle-producto .precio .decimal {
  font-size: 23px;
}
.contenedor-principal .detalle-producto .boton-comprar {
  cursor: pointer;
  margin-right: 32px;
  width: 160px;
  height: 30px;
  background-color: #3483fa;
  color: white;
  border-style: hidden;
  border-radius: 4px;
}
.contenedor-principal .contenedor-parrafo {
  margin-top: 100px;
  margin-left: 32px;
  padding-bottom: 64px;
}
.contenedor-principal .contenedor-parrafo .titulo-descripcion-parrafo {
  color: #333333;
  margin-bottom: 32px;
  font-size: 28px;
}
.contenedor-principal .contenedor-parrafo .descripcion-parrafo {
  color: #333333;
  font-size: 16px;
}

.page-wrapper {
  max-width: 1000px;
  margin: auto;
}
.page-wrapper--margin-bottom {
  padding-bottom: 64px;
}
.page-wrapper--margin-bottom > .contenedor-principal {
  box-shadow: 0px 1px 1px 1px #ccc;
}
.page-wrapper .categorias {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 14px;
  color: #333333;
}

/*# sourceMappingURL=styles.css.map */
