.product-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 2px;
  position: relative;
  background-color: white;
  border-radius: 4px;

  .producto-logo {
    margin: 16px 16px 16px 16px;
    height: 180px;
    width: 180px;
    border-radius: 4px;
  }

  .contenedor-info {
    margin-top: 32px;
    display: inline-block;
    .producto-titulo {
      color: #333333;
      font-size: 18px;
    }

    .ubicacion {
      color: #333333;
      font-size: 12px;
    }

    .precio {
      display: inline-block;
      color: #333333;
      font-size: 24px;
      margin-bottom: 32px;
    }
    .shipping-logo {
      margin-left: 16px;
      display: inline-block;
    }
  }
}
